
body{
    background-color: antiquewhite;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: darkblue;
    text-align: center;
}
p{
    text-align: center;
}
</style>
</head>